title, h1, h2, .inputFields, .button {
	text-align: center;
}

#dollars img {
	max-width: 220px;
	padding-right: 10px;
}

#dollars {
	float: left;
	margin-left: 100px;
}

#coins img {
	max-width: 100px;
}

#coins {
	float: right;
	margin-top: -520px;
	margin-right: 100px;
	padding-left: 10px;
}

.captions {
	column-count: 2;
}

.captions p {
	margin-right: 100px;
}